.cards {
  overflow: scroll;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 2rem;
  .card {
    flex: 1;
    flex-basis: 20rem;
    max-width: 30rem;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    background: #1b1b1b;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    img {
      width: 100%;
      height: 200px;
      border-radius: 0.5rem;
      object-position: center;
      object-fit: cover;
    }
    h1 {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .description {
      opacity: 0.7;
      word-spacing: 0.3rem;
      line-height: 1.3rem;
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      .tag {
        background: #292929;
        width: fit-content;
        padding: 0.75rem;
        border-radius: 0.5rem;
        white-space: nowrap;
      }
    }
    .urls {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;
      a {
        background: #292929;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        text-decoration: none;
        color: #fff;
        border-radius: 0.3rem;
        &:active {
          scale: 0.95;
        }
      }
    }
  }
}
