*::-webkit-scrollbar {
  background-color: #1a1a1a;
  width: 0.75rem;
}
*::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
}
.windows {
  height: 100%;
  background: #000;
  color: #fff;
  border-radius: 0.75rem;
  overflow: hidden;
  .nav {
    display: flex;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    background: #1e1e1e;
    color: #d2d0d0;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-weight: 500;
    gap: 1rem;
    .dots {
      display: flex;
      gap: 0.25rem;
      .dot {
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
      }
      .red {
        background: #be0303;
        cursor: pointer;
      }
      .yellow {
        background: #dddd08;
        cursor: pointer;
      }
      .green {
        background: #00a500;
        cursor: pointer;
      }
    }
  }
  .main-content {
    height: 100%;
  }
}
