nav {
  width: 100%;
  color: #fff;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  background: #575757b4;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  .left-nav,
  .right-nav {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
  }

  .nav-icon {
    img {
      width: 1rem;
    }
  }
}
