* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100vh;
}
body {
  background: #000;
}
main {
  position: relative;
  height: 100%;
  background: url("./mac-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  .clock {
    // background: rebeccapurple;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 8rem;
      color: #0a58be8a;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    }
    h2 {
      font-size: 3rem;
    }
  }
}
