* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100vh;
}
body {
  background: #000;
}
main {
  position: relative;
  height: 100%;
  background: url("../public/mac-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  .clock {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    h1 {
      font-size: 8rem;
      color: #0a58be8a;
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      text-align: center;
    }
    h2 {
      font-size: 3rem;
      text-align: center;
    }

    @media (max-width: 1023px) and (min-width: 768px) {
      h1 {
        font-size: 5rem;
      }
      h2 {
        font-size: 2rem;
      }
    }

    @media (max-width: 767px) and (min-width: 480px) {
      h1 {
        font-size: 3.5rem;
      }
      h2 {
        font-size: 1.5rem;
      }
    }

    @media (max-width: 479px) {
      h1 {
        font-size: 2.5rem;
      }
      h2 {
        font-size: 1.1rem;
      }
    }
  }
}
